body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main__container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  height: 250px;
  justify-content: initial;
  align-items: initial;
}

.main__container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  border: 2px solid #000;
  width: 260px;
  height: 250px;
}

.main__container-profile-img {
  object-fit: contain;
  margin-top: 0.5rem;
  width: 240px;
  max-height: 250px;
  border-radius: 50%;
}

.main__container-profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  margin-left: 12%;
  border: none;
  outline: none;
  border-radius: 5%;
  width: 70px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  background: rgb(164, 219, 54);
  transition: transform 450ms;
}

.main__container-profile-btn:hover {
  transform: scale(1.05);
}

.main__container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  width: 700px;
  height: 250px;
}

.main__container-banner-img {
  object-fit: fill;
  width: 700px;
  max-height: 250px;
}

.main__container-banner-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 4%;
  margin-left: 40%;
  border: none;
  outline: none;
  border-radius: 5%;
  width: 70px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  background: rgb(164, 219, 54);
  transition: transform 450ms;
}

.main__container-banner-btn:hover {
  transform: scale(1.05);
}
